In [23]:
import mysql.connector as connector
connection = connector.connect(user = "root", password = "my_password", db = "littlelemondb")

In [30]:
if cursor.with_rows:
    cursor.fetchall()
show_tables_query = """ SHOW TABLES """
cursor.execute(show_tables_query)
tables = cursor.fetchall()
for table in tables:
    print(table)

('bookings',)
('customers',)
('delivery_status',)
('menuitems',)
('menus',)
('orders',)
('ordersview',)
('staff',)

In [36]:
if cursor.with_rows:
    cursor.fetchall()
customer_campagn_query = """SELECT customers.CustomerID,
Customers.FirstName, Customers.LastName, customers.ContactNumber, customers.Email
	FROM customers
	INNER JOIN Orders ON Customers.CustomerID = Orders.CustomerID
	WHERE TotalCost > 60 """
cursor.execute(customer_campagn_query)
col = cursor.column_names
tables = cursor.fetchall()
print(col)
for table in tables:
    print(table)

('CustomerID', 'FirstName', 'LastName', 'ContactNumber', 'Email')
(1, 'John', 'Doe', '555-0101', 'john.doe@email.com')
(3, 'Robert', 'Johnson', '555-0103', 'robert.j@email.com')
(5, 'James', 'Wilson', '555-0105', 'james.w@email.com')